body {
	background-color: darkgray;
	font-family: Arial, sans-serif;
	overflow: hidden;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

button {
	border: none;
	border-radius: 5px;
	padding: 5px 5px 7px 5px;
	margin: 10px;
	cursor: pointer
}

button :hover{
	background-color: blue;
}

#verticalButtons {
	display: flex;
	flex-direction: column;
}

#carCanvas {
	background-color: lightgrey;
}

#networkCanvas {
	background-color: black;
}